@page "/test-com"

<h3>TestCom</h3>


<div class="container bg-light">
    <div class="row">
        <div class="col-6">
            <label>Hi</label>
        </div>
        <div class="col-6 text-end p-2">
            <label>nick</label>
        </div>

    </div>
</div>

@code {

}
